// NOTE Default Scheme
// $body-bg: #f2f2f2;
// $primary: #3ba5dc;
// $secondary: #ff3697;
// $danger: #eb5757;
// $success: #27ae60;
// $warning: #ff7f50;
// $info: #00c9bd;
// $dark: #313130;
// $light: #f8f9fa;

// $body-bg: #DBDEBF;
// $primary: #C9D595;
// $secondary: #E9EEC3;
// $danger: #B1453B;
// $success: #749A63;
// $warning: #E7A462;
// $info: #E96741;
// $dark: #485257;
// $light:  #FDF9DF;

// NOTE Steel
$body-bg: #c5d3ca;
$primary: #25577b;
$secondary: #6a3955;
$danger: #972335;
$success: #487146;
$warning: #a64a2b;
$info: #506b75;
$dark: #3a4a54;
$light: #faf7ea;
