$body-bg: #DBDEBF; 
$primary: #C9D595;
$secondary: #E9EEC3;
$danger: #B1453B;
$success: #749A63;
$warning: #E7A462;
$info: #E96741; 
$dark: #485257; 
$light:  #FDF9DF;


// $body-bg: #f2f2f2;
// $primary: #3BA5DC;
// $secondary: #FF3697;
// $danger: #EB5757;
// $success: #27AE60;
// $warning: #FF7F50;
// $info: #00C9BD;
// $dark: #313130;